<% unless records.blank? %>
  <div id="gl-table-top">
    <%= render :partial => "overview/pager", :locals => { :records => records } %>
  </div>
<% end %>

<% if records.blank? %>
  <div id="gl-no-records">
    No messages found.
  </div>
<% else %>
  <table id="gl-table">
    <tr>
      <th class="log-table-mark">
        <input type="checkbox" data-action="checkAll" value="checkAll" id="gl-check-all-box_<%= Time.now.to_i %>"/>
      </th>
      <th class="log-table-date"><%= th_link_to_order "Date" %></th>
      <th class="log-table-host"><%= th_link_to_order "Host" %></th>
      <th class="log-table-severity"><%= th_link_to_order "Severity" %></th>
      <th class="log-table-message"><%= th_link_to_order "Message" %></th>
    </tr>
    <% counter = 0 %>
    <% records.each do |message| %>
      <tr class="table-row-<%= counter % 2 == 0 ? "light" : "dark" %>">
        <td class="log-table-mark-row"><%= check_box_tag "#{message.ID}_#{Time.now.to_i}", message.ID, false %></td>
        <td><%= message.ReceivedAt.to_datetime.strftime('%Y/%m/%d - %H:%M:%S') %></td>
        <td><%=h message.FromHost %></td>
        <td><%= message.human_readable_severity %></td>
        <td class="<%= is_valid_message?(message) ? "gl-table-valid-item" : "" %>">
          <div class="gl-message" id="gl-message-<%= message.ID %>">
            <%= truncate h(message.Message), :length => 150 %>
            <% if message.Message.length >= 150 %>
              <a href="#" data-params="<%= message.ID %>" data-action="showFullMessage">[more]</a>
            <% end %>
            <%= link_to "[full]", "#{@geterror_url}?s=#{message.FromHost}&q=#{message.SysLogTag}", :target => "_blank" %>
          </div>
          <div class="gl-message-hidden-part" id="gl-message-full-<%= message.ID %>">
            <%=h message.Message %>
            <% unless @geterror_url.blank? %>
              <%= link_to "[full]", "#{@geterror_url}?s=#{message.FromHost}&q=#{message.SysLogTag}", :target => "_blank" %>
            <% end %>
          </div>
        </td>
      </tr>
      <% counter+=1 %>
    <% end %>
  </table>
<% end %>

<% if records.count > 0 and !@filter_strings.blank? %>
  <div id="delete-all">
    <% if no_filters_set? @filter_strings %>
      <%= link_to "Delete all messages hit by this filter or category", { :controller => "logentries", :action => "destroy_selection" }, :confirm => "Really delete all messages?" %>
    <% else %>
      <%= link_to "Delete all messages hit by this filter or category", { :controller => "logentries", :action => "destroy_selection", :filter_host => CGI::escape(@filter_strings["host"]), :filter_message => CGI::escape(@filter_strings["message"]), :filter_severity => @filter_strings["severity"], :filter_date_start => CGI::escape(@filter_strings["date_start"].to_s), :filter_date_end => CGI::escape(@filter_strings["date_end"].to_s) }, :confirm => "Really delete all messages hit by this filter?"  %>
    <% end %>
  </div>
<% end %>

<% unless records.blank? %>
  <div id="gl-table-bottom">
    <%= render :partial => "overview/pager", :locals => { :records => records } %>
  </div>
<% end %>

<br style="clear: both;" />
