<h1>Settings</h1>

<h2>Full log message view URL</h2>
This URL will be used for the <i>[more]</i> field behind log messages. Set this to a script that fetches the whole log message from the server that caused the message. (e.g. using SSH)
<p>
Graylog will append the following parameters: <i>?s=[FromHost]&amp;q=[SysLogTag]</i>
</p>
<% form_for @settings, :url => { :action => "update" } do |f| %>
  <%= f.label :geterror_url, "<strong>URL:</strong>" %>
  <%= f.text_field :geterror_url, :value => @geterror_url %>
  <%= submit_tag "Save" %>
<% end %>

<h2>Base URL</h2>
<p>This URL is used as base URL in the RSS feeds.</p>
<% form_for @settings, :url => { :action => "update" } do |f| %>
  <%= f.label :base_url, "<strong>URL:</strong>" %>
  <%= f.text_field :base_url, :value => @base_url %>
  <%= submit_tag "Save" %>
<% end %>
