<h1>Settings</h1>

<h2>Full log message view URL</h2>
<% form_for @settings, :url => { :action => "update" } do |f| %>
  <%= f.label :geterror_url, "<strong>URL:</strong>" %>
  <%= f.text_field :geterror_url, :value => @geterror_url %>
  <%= submit_tag "Save" %>
<% end %>

<h2>Base URL</h2>
<% form_for @settings, :url => { :action => "update" } do |f| %>
  <%= f.label :base_url, "<strong>URL:</strong>" %>
  <%= f.text_field :base_url, :value => @base_url %>
  <%= submit_tag "Save" %>
<% end %>
