<h1>Settings</h1>

<h2>New Category</h2>
<% form_for @new_category, :url => { :controller => "categories", :action => "create" } do |f| %>
  <dl id="settings-form-new-category">
    <dt><%= f.label :title, "Title:" %></dt>
    <dd><%= f.text_field :title %></dd>
    <dt><%= f.label :filter_host, "Filter by host:" %></dt>
    <dd><%= f.text_field :filter_host %></dd>
    <dt><%= f.label :filter_message, "Filter by message:" %></dt>
    <dd><%= f.text_field :filter_message %></dd>
    <dt>&nbsp;</dt>
    <dd><%= submit_tag "Create category", :disable_with => "Please wait" %></dd>
  </dl>
<% end %>

<h2>Delete category</h2>
<ul>
  <% if @categories.blank? %>
    <li>No categories found</li>
  <% else %>
    <% @categories.each do |category| %>
      <li><%= link_to category.title, { :controller => "categories", :action => "destroy", :id => category.id }, :confirm => "Really?" %></li>
    <% end %>
  <% end %>
</ul>

<h2>Full log message view URL</h2>
<% form_for @settings, :url => { :action => "update" } do |f| %>
  <%= f.label :geterror_url, "<strong>URL:</strong>" %>
  <%= f.text_field :geterror_url, :value => @geterror_url %>
  <%= submit_tag "Save" %>
<% end %>

<h2>Base URL</h2>
<% form_for @settings, :url => { :action => "update" } do |f| %>
  <%= f.label :base_url, "<strong>URL:</strong>" %>
  <%= f.text_field :base_url, :value => @base_url %>
  <%= submit_tag "Save" %>
<% end %>
