<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  <title>Graylog: Login</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag "core.css" %>
  <%= stylesheet_link_tag "login.css" %>
</head>
<body>

<% unless flash[:notice].blank? %>
  <div class="flash-message" id="flash-notice"><%=h flash[:notice] %></div>
<% end %>

<% unless flash[:error].blank? %>
  <div class="flash-message" id="flash-error"><%=h flash[:error] %></div>
<% end %>

<div id="login-box">
  <%= yield %>
</div>

</body>
</html>
